html{
    scroll-behavior: smooth;
}
p{
    text-align: justify;
}
.uno{
    background: linear-gradient(102deg, #165bb4b2 40%, #0559a8b4 60%);
    color: #ffffff;
    font-size: 50px;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;
}
.pulso{
    background: rgb(211, 5, 74);
    bottom: disabled;
}
.fondo{
    background: url("../assets/ppal.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.barra{
    background: rgb(131, 30, 145);
    height: 50px !important;
}
#descripcion{
    font-size: 20px;
    height: 100vh;
    width: 60%;
}
#jugar{
    height: 100vh;
}
.tablero{
    width: 60%;
}
/* .reiniciar{
    border-radius: 3rem;
    font-size: 17px;
    padding: 0.5rem 5rem;
    background: rgb(189, 67, 158);
} */
footer{
    background: rgb(27, 1, 27);
    color: beige;
    height: 10vh;
    text-align: center;
    padding-top: 25px;
    margin-top: 60px;
}

@media (max-width: 980px) {
    .uno{
        font-size: 30px;
        padding: 0.5rem 1.5rem;
    }
    .tablero{
        width: 90%;
    }
    #descripcion{
        font-size: 20px;
        height: 100vh;
        width: 90%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}